
  <div class="hero-content text-center">
    <h1>Do you have an active @Kai_architect Login ID?</h1>
    <div class="mt-4">
      <%= link_to "Yes", "#", class: "btn btn-lg btn-primary mx-2" %>
      <%= link_to "Not yet", signup_path, class: "btn btn-lg btn-primary mx-2" %>
    </div>
  </div>
</div>