<li class="list-group-item d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <div class="me-3">
      <%= gravatar_for user, size: 50 %>
    </div>

    <div>
      <%= link_to user.name, user %>
    </div>
  </div>

  <% if current_user && current_user.admin? && !current_user?(user) %>
    <%= link_to "Delete", user,
          data: { "turbo-method": :delete,
                  turbo_confirm: "You sure?" },
          class: "btn btn-danger btn-sm" %>
  <% end %>
</li>